/* NOTION CSS OVERRIDE */

.notion {
  @apply text-gray-600 dark:text-gray-300;
  overflow-wrap: break-word;
}
.notion,
.notion-text,
.notion-quote,
.notion-h-title {
  @apply leading-8;
  @apply p-0;
  @apply my-2;
}

.notion-page-link {
  color: inherit;
}

.notion-list {
  @apply w-full;
}

.notion-list li {
  padding: 0;
}

.notion-list ol {
  padding: 0;
}

.notion-toggle {
  @apply w-full;
}

.notion-simple-table {
  @apply self-center;
}

svg.notion-page-icon {
  @apply hidden;
}

svg + .notion-page-title-text {
  @apply border-b-0;
}

.notion-full-width {
  @apply px-0;
}

.notion-page {
  @apply w-auto px-0;
}

.notion-quote {
  padding: 0.2em 0.9em;
  font-size: 1em;
  line-height: 1.5rem;
}

.notion-hr {
  @apply border-b-2 border-b-gray-200 dark:border-b-gray-600
}

.notion-link {
  @apply relative border-b-2 bg-origin-border bg-no-repeat text-blue-600 border-b-gray-200 dark:text-blue-300 dark:border-b-gray-600;
  background-position: 50% 100%;
  background-size: 0 0.1rem;
}
.notion-link:focus,
.notion-link:hover {
  @apply border-transparent bg-no-repeat;
  background-image: linear-gradient(90.68deg, #b439df 0.26%, #a28181 102.37%);
  background-position: 0 100%;
  background-size: 100% 0.1rem;
  transition-property: background-position, background-size;
  transition-duration: 200ms;
}


@keyframes toc-fade-in-animation {
  from { opacity: 0; }
  to { opacity: 1; }
}
.toc-fade-in {
  animation: toc-fade-in-animation 0.5s ease-in;
}
.notion-table-of-contents {
  /* @apply 2xl:max-w-xs 2xl:fixed 2xl:z-10 2xl:top-40 2xl:inset-x-3/4; */
  @apply bg-day dark:bg-night;
}
.notion-table-of-contents-item {
  @apply rounded-lg px-2 dark:text-gray-200;
}

.notion-bookmark {
  @apply border border-gray-200 dark:border-gray-600;
  color: inherit;
}
.notion-bookmark .notion-bookmark-title,
.notion-bookmark .notion-bookmark-link div {
  @apply text-gray-900 dark:text-gray-200;
}
.notion-bookmark .notion-bookmark-description {
  @apply text-gray-600 dark:text-gray-300;
}
.notion-bookmark:hover {
  @apply border-gray-400;
}

.notion-code {
  @apply border border-gray-200 dark:border-none;
  font-size: var(--prism-font-size);
  line-height: var(--prism-line-height);
}
.notion-code-copy-button {
  @apply text-gray-600 dark:text-gray-400 bg-day dark:bg-night;
  padding: 0.4em;
  font-size: 1em;
  border: none;
  box-shadow: none;
}
.notion-code-copy-tooltip {
  display: none;
}

.notion-viewport {
  z-index: -10;
}
.notion-asset-caption {
  @apply text-center;
  @apply text-gray-500 dark:text-gray-400;
}

.notion-collection {
  @apply max-w-full;
}
.notion-collection > .notion-collection-header {
  @apply px-0 !important;
}
.notion-collection > .notion-table {
  @apply max-w-full !important;
}
.notion-collection > .notion-table > .notion-table-view {
  @apply px-0 !important;
}
.notion-collection-view-type {
  @apply hidden;
}
.notion-collection-row {
  @apply hidden;
}


/* 定制化样式 */
/* 友链头像预览，修复只显示一半的图片 */
.lazy-image-real {
  top: 0;
}

/* 友链头像设置圆角，设置图片高度（修复不是方形图片会变成椭圆的问题） */
.notion-collection-card-property .notion-page-title-icon {
  border-radius: 50%; /* 设置圆角半径为图片的短边的一半 */
  height: 22px;
}

/* 友链卡片的友链名称 */
.notion-page-title-text {
  font-size: 16px;
}

/* 友链卡片中的描述文本行高 */
.notion-property-text {
  line-height: 2rem;
}

/* 友链链接设置 */
input.nested-form-link.notion-link {
  color: #5979EE;
  /* color: rgb(238,122,101);
  color: rgb(77,77,245);
  color: #3366FF; */
  text-decoration: none; /* 取消下划线 */
}

/* 友链卡片整体设置 */
a.notion-collection-card.notion-collection-card-size-small {
  background-color: rgba(255, 255, 255, 0.3); /* 设置友链卡片透明度 */
  border-radius: 20px; /* 友链卡片的圆角设置 */
}

/* 评论框调整 */
/* 评论内容 */
textarea#comment {
  height: 120px;
  border-radius: 20px;
  /* background-color: #e5e7ebad; */
  box-shadow: 0 0 0 1px hsla(0,0%,6%,.1), 0 2px 4px hsla(0,0%,6%,.1);
}
/* 评论邮箱 */
input#mail {
  padding-top: 4px;
  padding-bottom: 4px;
  height: 38px;
  border-radius: 10px;
  /* background-color: #e5e7ebad; */
  box-shadow: 0 0 0 1px hsla(0,0%,6%,.1), 0 2px 4px hsla(0,0%,6%,.1);
}
/* 评论名称 */
input#name {
  padding-top: 4px;
  padding-bottom: 4px;
  height: 38px;
  border-radius: 10px;
  /* background-color: #e5e7ebad; */
  box-shadow: 0 0 0 1px hsla(0,0%,6%,.1), 0 2px 4px hsla(0,0%,6%,.1);
}
/* 提交按钮
button.inline-block.bg-gray-100.dark\:bg-gray-700.hover\:bg-gray-200.dark\:hover\:bg-gray-600.text-center.rounded-lg.outline-none.transition.duration-100.px-8.py-3 {
  @apply bg-gray-200 dark:bg-gray-600 hover:bg-gray-300 dark:hover:bg-gray-500 hover:text-gray-600 dark:hover:text-gray-300;
  background-color: #e5e7ebad;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  height: 48px;
}
p.text-gray-400.h-5 {
  color: #4d5562ea;
} */

/* 联系页面文本框 */
textarea#message {
  height: 250px;
  border-radius: 20px;
  background-color: hsla(0,0%,100%,0);
  box-shadow: 0 0 0 1px hsla(0,0%,6%,.1), 0 2px 4px hsla(0,0%,6%,.1);
}

/* 代码块相关 */
code[class*=language-], div[class*=language-], pre[class*=language-] {
  color: #E4EAF1 !important;   /* 非关键字代码颜色 */
}
pre.notion-code {
  /* background-color: #4D5562 !important;
  background-color: #2f425fd3 !important;
  background-color: #020b19d0 !important; */
  background-color: #09111E !important;  /* 代码块颜色 */
  border-radius: 15px;   /* 代码块圆角 */
}
.notion-inline-code {
  /* 行内代码块 */
  color: #4D5562;
  background-color: #E4EAF1;
}

/* 修复标题合并在一行的问题（一级标题后面紧跟二级、三级标题则会显示在同一行；通过改变标签的显示类型来修正） */
.notion-h,
.notion-h1,
.notion-h2,
.notion-h3 {
  display: block;
}

/* 引用块设置 */
.notion-callout {
  border-radius: 20px;   /* 圆角 */
  background-color: #D7E3F4;   /* 背景色 */
}
/* 引用块中的头像设置 */
.lazy-image-wrapper.lazy-image-loaded.notion-page-icon {
  height: 22px;
  border-radius: 50%;
}
/* 引用块内字体颜色（在夜晚模式会变成白色，看不清） */
.notion-callout-text {
  color: #4D5562;
}

/* 表格撑大展示修复 */
.notion-simple-table {
  @apply whitespace-nowrap overflow-x-auto block w-full border-0 !important;   /* 设置表格超出后显示滑动条 */
  line-height: 1.5rem;   /* 设置表格内行高（默认是用 notion 的行高 2） */
}

.notion-simple-table td {
  border: 1px solid darkgray;   /* 设置表格边框颜色 */
  white-space: pre;   /* 设置单元格内文本不自动换行而导致表格被撑大 */
}

/* hr 标签（分割线）样式设置 */
.notion-hr {
  border-bottom-width: 1px;
  border-bottom-color: #D7D9DA;
}
